@model Escuela

@{
    ViewData["Title"] = "Información de la Escuela";
    Layout="Simple";
}

<h1> @ViewData["Title"]</h1>
<h2>Nombre: @Model.Nombre </h2>
<p><strong>Año de fundación: @Model.AFundacion </strong></p>
