@model Alumno

@{
    ViewData["Title"] = "Información del Alumno";
    Layout="Simple";
}

<h1> @ViewData["Title"]</h1>
<strong>Vista 1</strong>
<p> 
    Nombre: @Model.Nombre <br/>
    ID : @Model.UniqueId
</p>

<strong>Vista 2</strong>
<partial name= "ObjetoEscuelaSimple"/>

<p> <i>@ViewBag.Fecha</i> </p>
