@model List<Alumno>

@{
    ViewData["Title"] = "Información del Alumno";
    Layout="Simple";
}

<h1> @ViewData["Title"]</h1>


@foreach (var alumno in Model)
{
    <partial name= "ObjetoEscuelaSimple" model="alumno" />
}


<p> <i>@ViewBag.Fecha</i> </p>
